/*NEWSLETTER SECTION*/
@media screen and (max-width: 1023px){
    .newsletter-row-box{
        width: calc(100% - 8rem); 
    }
    .newsletter-row-box-header h2{
        font-size: 2rem;
    }
    .newsletter-row-box-header h4{
        font-size: .6rem;
    }
}
@media screen and (min-width: 1024px){
    .newsletter-row-box{
        width: calc(100% - 40rem); 
    }
    .newsletter-row-box-header h2{
        font-size: 2.5rem;
    }
    .newsletter-row-box-header h4{
        font-size: .9rem;
    }
}


.newsletter-section{
    display:flex;
    width:100%;
    margin-top: 2rem;
    height: 20rem;
}
.newsletter-container{
    display:flex;
    justify-content: center;
    width:100%;
}
.newsletter-row{
    display:flex;
    justify-content: center;
    width: 100%;
}
.newsletter-row-box{
    display:flex;  
    flex-direction: column;
    align-items: center;
}
.newsletter-row-box-header{
    text-align: center;
}
.newsletter-row-box-header h2{
    font-size: 3rem;
    font-weight: 400;
}
.newsletter-row-box-header h4{
    font-size: 1.5rem;
    margin-top: 2rem;
    color: rgb(167, 167, 167);
}
.newsletter-form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: 4.5rem;
    width: 100%;  
}

#newsletter-sign{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}
#newsletterEmail{
    flex-grow: 3;
    flex-basis:90%;
    border: none;
    border-bottom: rgba(49, 49, 49, 0.685) 1px solid;
    padding-bottom: 0.7rem;
}
#newsletter-button{
    margin-top: 1.2rem;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    box-shadow: 1px 2px 2px -1px rgba(85, 85, 85, 0.856);
    border-radius: .2rem;
    border: none;
    
}
#newsletter-button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border: 1px black solid;
}
#newsletter-check{
    padding-top:1rem;
    align-self:center;
    font-size: 1.2rem;
}
#newsletter-check a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}